extends layout

block content
  form(action="/post" method="POST")
    input(type="hidden" name="_csrf" value= csrfToken)
    input(type="text" name="title" required placeholder="请输入文章标题")
    button(type="submit") 提交